::-webkit-scrollbar {
    display: none;
}




body {
    background-color: #cd853f;
    font-family: 'Roboto', sans-serif;
}

header {
    font-size: 3rem;
    text-align: center;
    color : #5a330c;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    text-align: center;
}

article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/* Links farbig und nicht mehr unterstrichen */
a:link, a:visited {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

a:hover, a:active {
    color: #f8b678;
}

/* Pfeil zum navigieren */
.arrow-left::before {
    content: "\2190";
    margin-right: 5px; /* Abstand zum Text */
}

.arrow-right span {
    display: inline-block;
    margin-left: 5px;
}

#eye-left {
    width: 200px;
    height: 200px;
    background-color: #191310;
    color: white;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
}

#nose {
    width: 1000px;
    height: auto;
    background-color: #877B69 ;
    border-color: #5a330c;
    border-radius: 1,5px;
    border-radius: 20px;
    font-size: 1.5rem;
    border: thin solid black;
}


#nose a {
    text-decoration: none;
    color: #d1d1d1;

}

#eye-right {
    width: 200px;
    height: 200px;
    background-color: #191310;
    border-radius: 100%;
    color: #ffffff;
}

#funfact1, #funfact2, #funfact3 {
    font-size: 0;
    animation-name: funfact-animation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

#funfact1 {
    animation-delay: 0s;
    margin-top: 40%;
}

#funfact2 {
    animation-delay: 5s;
}

#funfact3 {
    animation-delay: 10s;
}

@keyframes funfact-animation {
    0% {
        font-size: 0;
    }
    1% {
        font-size: 1rem;
    }
    30% {
        font-size: 1rem;
    }
    31% {
        font-size: 0;
    }
}

#zaehne {
    display: flex;
    justify-content: space-around;
}

#zahn-right {
    width: 100px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 3%;
    margin-left: 0.1%;
    margin-right: 40%;
}

#zahn-left {
    width: 100px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 3%;
    margin-right: 0.1%;
    margin-left: 40%;
    text-align: center;
}

footer{
    text-align: center;
    background-color: #877B69;
    margin-top: 10%;
    border: thin solid #f8b678;
    border-radius: 10px;
}

#punkte{
    list-style-type: none;
}