::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #cd853f;
    font-family: 'Roboto', sans-serif;
}

header {
    font-size: 3rem;
    text-align: center;
    align-items: center;
    color: #5a330c;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

article {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/* Links farbig und nicht mehr unterstrichen */
a:link, a:visited {
    color: #412603;
    text-decoration: none;
}

a:hover, a:active {
    color: #50360b;
}

/* Pfeile zum navigieren */
.arrow-left::before {
    content: "\2190";
}

#links-center {
    width: auto;
    height:  auto;
    background-color: #b87b3e;
    border-radius: 5px;
    font-size: 1.5rem;
    word-spacing: 10px;
    white-space: nowrap;
    border: thin solid rgb(57, 27, 10);
}

#text {
    align-self: center;
    width: 1000px;
    height: auto;
    background-color: #b87b3e;
    border-radius: 20px;
    border: 0.5rem outset #5a330c;
    font-size: 1.5rem;
    align-items: center;
}

footer{
    text-align: center;
    background-color: #bea98b;
    margin-top: 20%;
    border: thin solid #f8b678;
    border-radius: 10px;
}

#punkte{
    list-style-type: none;
}

.heading {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;
}

img {
    width: 650px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.memes-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    color: #f8b678;
    justify-content: center;
}
  
  .meme {
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: #5a330c;
    border: 2px solid #a76707; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(236, 139, 70, 0.1);
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  
  .meme img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  
  .meme:hover img {
    transform: scale(1.1);
  }
  
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #cd802d;
    color: #2e1a06;
    padding: 10px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .meme:hover .caption {
    opacity: 1;
  }

  table {
    font-size: large;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #6b2f04;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 3px solid #6b2f04;
  }
  
  th {
    background-color: #6b2f04;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #b26425;
  }
  
  tr:hover {
    background-color: #ed9238;
  }
  
