::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #cd853f;
    font-family: 'Roboto', sans-serif;
}

header {
    font-size: 3rem;
    text-align: center;
    align-items: center;
    color: #5a330c;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/* Links farbig und nicht mehr unterstrichen */
a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    color: #f8b678;
}

/* Pfeile zum navigieren */
.arrow-left::before {
    content: "\2190";
    margin-right: 5px; /* Abstand zum Text */
}

.arrow-right span {
    display: inline-block;
}

#eye-left {
    width: 200px;
    height: 200px;
    background-color: #191310;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
}

#nose {
    width: 1000px;
    height: auto;
    background-color: #76675f;
    border-radius: 20px;
    font-size: 1.5rem;
}

#nose a {
    text-decoration: none;
    color: #d1d1d1;

}

#eye-right {
    width: 200px;
    height: 200px;
    background-color: #191310;
    border-radius: 100%;
    font-size: 1.5rem;
    color: #ffffff;
}

#zaehne {
    display: flex;
    justify-content: space-around;
}

#zahn-right {
    width: 100px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 3%;
    margin-left: 0.1%;
    margin-right: 40%;
}

#zahn-left {
    width: 100px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 3%;
    margin-right: 0.1%;
    margin-left: 40%;
}
