::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #cd853f;
    font-family: 'Roboto', sans-serif;
}

header {
    font-size: 3rem;
    text-align: center;
    align-items: center;
    color: #5a330c;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/* Links farbig und nicht mehr unterstrichen */
a:link, a:visited {
    color: #5a330c;
    text-decoration: none;
}

a:hover, a:active {
    color: #80552b;
}

/* Pfeile zum navigieren */
.arrow-left::before {
    content: "\2190";
    margin-right: 5px; /* Abstand zum Text */
}

.arrow-right span {
    display: inline-block;
}

#links-left {
    width: 200px;
    height: auto;
    background-color: #b87b3e;
    border-radius: 5%;
    text-align: center;
    font-size: 1.5rem;
}

#links-right {
    width: 200px;
    height: auto;
    background-color: #b87b3e;
    border-radius: 5%;
    font-size: 1.5rem;
    color: #ffffff;
}

#table {
    width: 1000px;
    height: auto;
    background-color: #76675f;
    border-radius: 20px;
    border: [2rem] [dashed] [black];
    font-size: 1.5rem;
}

#table a {
    text-decoration: none;
    color: #d1d1d1;

}